{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="{% static "jquery.min.js" %}" type="text/javascript"></script>
    {% block extra_head %}
    {% endblock %}

  </head>
  <body class="text-light bg-dark" style="height: 100vh">

    <div class="cover-container d-flex flex-column justify-content-between" style="height: 100vh">
        <div>
            {% include 'header.html' %}

            <div class="container py-3">
                {% block content %}
                {% endblock %}

                {% block extra_body %}
                {% endblock %}
            </div>
        </div>

        {% include 'footer.html' %}
    </div>
    <div class="toast-container bottom-0 end-0 position-fixed">
        {% for m in messages %}
            <div class="toast text-bg-{{ m.tags }}" role="alert">
                <div class="toast-header">
                    <strong class="me-auto">
                        VENDING-TRACKER
                    </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{ m }}
                </div>
            </div>
       {% endfor %}
    </div>

    <script>
        function initToasts() {
          const toastEls = document.querySelectorAll(".toast");
          toastEls.forEach((el) => {
            const toast = window.bootstrap.Toast.getOrCreateInstance(el);
            toast.show();
            el.addEventListener("hidden.bs.toast", () => {
              el.remove();
            });
          });
        }
        document.addEventListener("DOMContentLoaded", () => {
          initToasts();
        });
    </script>
  </body>
</html>
