<div class="container">
    <footer class="pt-3">
        <div class="d-flex flex-wrap justify-content-between border-top pt-1">
            <div class="me-3">
                <a href="/impressum">
                    <p style="font-family: 'Lato', sans-serif;" class="fw-light">IMPRESSUM</p>
                </a>
            </div>
            <div class="ms-3">
                <a href="/privacy">
                    <p style="font-family: 'Lato', sans-serif;" class="fw-light">DATENSCHUTZERKLÄRUNG</p>
                </a>
            </div>
        </div>
    </footer>
</div>