{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load mathfilters %}
{% block content %}

<h1>{{ machine.friendly_name }}</h1>
    <div class="row row-cols-1 row-cols-xl-2">
        <div class="col">
            <table class="table table-bordered">
                {% for r in machine.machinerow_set.all %}
                    <tr>
                        <td>
                            <form action="/dashboard/machines/{{ machine.pk }}/{{ r.pk }}/add_field" method="post">
                                {% csrf_token %}
                                <input type="submit" value="+">
                            </form>
                        </td>
                        {% for f in r.machinefield_set.all %}

                            <td style="background: linear-gradient(to top, {{ f.status_color }} {{ f.status_percent_in_stock }}%, rgba(0,0,0,0) {{ f.status_percent_in_stock }}%)">
                                {% if f.product %}
                                    {% with percentage_left=f.in_stock|div:f.max_capacity %}

                                        {{ f.product.name }}
                                        {{ f.percent_in_stock }}
                                    {% endwith %}
                                {% else %}
                                    kp
                                {% endif %}
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editForm" data-url = "{% url 'update_machine_field' f.pk %}">
                                    bearbeiten
                                </button>

                            </td>
                        {% empty %}

                        {% endfor %}
                    </tr>

                {% empty %}
                    <li>Keine Reihen, bitte Hinzufügen!</li>
                {% endfor %}
            </table>
        </div>
        <div class="col">
            <form action="/dashboard/machines/{{ machine.pk }}/renew_api" method="post">
                {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="API-Key erneuern">
            </form>
                <h4>Fächer</h4>
            <form action="/dashboard/machines/{{ machine.pk }}/add_row" method="post">
                {% csrf_token %}
                <input type="submit" value="Reihe hinzufügen">
            </form>
            <br>
        </div>
    </div>

  {% include "modal_template.html" with title="Feld bearbeiten" %}

{% include "modal_script.html" %}
{% endblock %}