{% extends "base.html" %}
{% load django_bootstrap5 %}

{%  block content %}
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editForm" data-url="{% url "add_product" %}">
        Produkt hinzufügen
    </button>
    <div class="modal fade" id="editForm" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" id="modalForm">
                    {% csrf_token %}
                    <div class="modal-header">
                       <h5 class="modal-title">Produkt hinzufügen</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for p in object_list %}
        {{ p.name }}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editForm" data-url="{% url "update_product" p.pk %}">
         Produkt updaten
         </button>
        <br>
    {% empty %}

    {% endfor %}

    <script>
        $(document).ready(function() {
            // When the modal is about to be shown...
            $('#editForm').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var url = button.data('url'); // Extract URL from data-* attribute

                var modal = $(this);
                var modalBody = modal.find('.modal-body');

                var form = modal.find('#modalForm');
                if (form.length) {
                    form.attr('action', url);
                }

                // Load the content from the Django view into the modal body
                modalBody.html('<div class="text-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>');
                modalBody.load(url);
            });
        });
    </script>
{% endblock %}